.main {
  width: 600px;
  margin: auto;
  padding-top: 10px;
  line-height: 28px;
}
h1 {
  border-bottom: 3px solid black;
  margin-bottom: 0px;
  padding-bottom: 5px;
  width: 743px;
}

.box {
  background-color: #ebe8e8e1;
  width: 704px;
  height: 70px;
  margin-bottom: 20px;
  padding-bottom: 0px;
  padding: 1px 20px 20px 20px;
  line-height: 1px;
  padding-top: 12px;
}

.user {
  display: flex;
  font-size: 10;
  flex-direction: row;
  gap: 10px;
  margin: 5px;
  padding-bottom: 20px;
}

.line-1,
.line-2 {
  border-right: 1px solid rgba(209, 198, 198, 0.815);
}
.line-1,
.line-2,
.line-3 {
  padding: 0px;
  padding-right: 14px;
  width: 160x;
  height: 15px;
  margin: 10px 4p;
  line-height: 15px;
}

.line {
  padding-inline: 18px;
}

a {
  color: blue;
  text-decoration: underline blue;
}
